@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
:root
{
    --primary : #A5D060;
    --secoundary:#344913;
    --third: rgb(56, 124, 56);
}
body
{
    background-color: var(--secoundary) ;
     background-image: linear-gradient(90deg,#344913,#A5D060); 
     color: white;
     margin:0;
     font-family: 'Lora', serif;
}
nav{
      background-color: var(--secoundary);  
    margin:0;
    padding : 0.3rem;
    border-bottom-right-radius: 3rem;

}
.qoute{
    color:black;
    text-align: center;
}

@media screen and (max-width:600px){
    .inputIntake{
        display: flex;
    }

    
     .inputIntake button{
  margin-top: 8px;
        }
    
    
}

.box {
    background-color: var(--primary);
    margin :auto;
    max-width:400px;
    padding :1rem;
    border-radius: 1rem;
    color:black;
    position:relative;
    left:0%;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 50px;
    

}
h1{
     
    text-align: center;
}
li{
    padding : 0.2rem;
}
input{
     height: 50px;
    width : 300px; 
    margin:8px;
}
.add-button{
    padding : 0.5rem;
}
.list li i{
position:absolute;
right:2px;
background-color:rgb(236, 105, 105);
padding:10px;
margin:2px 0 0 0;
top:0px;

}

.list li{
    padding:12px;
    background-color:#d0e6ae;
    margin:5px;
    list-style-type:none;
    position: relative;
    left:0px;
    bottom:5px;
}

.list{
    padding-inline-start: 0px;
}

.inputIntake button{
    pointer-events: none; 
    opacity :50%;
}
.inputIntake button.active{
    pointer-events: auto;
    opacity: 100%;
    background-color:var(--third);
    color:white;
}
img.todo{
    height: 30%;
    width: 30%;
    margin: 3% 35%;
    
}
.clearall button{
    pointer-events: none; 
    opacity :50%;
    font-family: 'Lora', serif;
    
}
.clearall button.active{
    pointer-events: auto;
    opacity: 100%;
    background-color: rgb(56, 124, 56);
    padding:10px;
    color:ivory;

    
}
.clearall span{
    padding: 3rem 0rem;

}
footer{
    background-color: var(--secoundary); 
    padding: 0.5rem;
   
}
.link{
    text-decoration: none;
    color: white;
    text-align: center;
}
.initem{
    display: inline;
   
    padding:10px;  
}
.item{
    text-decoration: none;
    color: white;
}
.link img{
    width : 30px;
    height : 30px;
    background-color:rgb(224, 236, 205);
    padding:12px;
    border-radius: 1rem;
}

